@import 'https://fonts.googleapis.com/css?family=Indie+Flower';
@import 'https://fonts.googleapis.com/css?family=Andada+Pro';
@import 'https://fonts.googleapis.com/css?family=Merienda';
@import 'https://fonts.googleapis.com/css?family=Festive';
@import url('login.css');

* {
    font-style: normal;
    transition: all 0.3s ease-in-out;
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    width: 5px;
    height: 10px;
}

::-webkit-scrollbar-thumb {
    background-color: #FA8BFF;
    background-image: linear-gradient(
            45deg, #FA8BFF 0%, #2BD2FF 52%, #2BFF88 90%);
    box-shadow: inset 0 0 6px rgb(0 0 0 0.66);
    border-radius: 5px;
}

::-webkit-scrollbar-track {
    background-color: mintcream;
    border-radius: 5px;
}

#outer-container {
    height: 110vh;
    background: #24246e;
    background: radial-gradient(circle, rgba(36, 36, 110, 0.751), rgba(28, 113, 175, 0.751));
    animation: gradient 5s infinite ease-in-out;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.login-image {
    top: 20vh;
}

.login_icon {
    width: 80px;
}

#useralert, #successalert {
    top: 0;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    position: absolute;
    text-align: left;
    z-index: 50;
    right: 0;
    width: 20%;
    margin: 0;
}

#useralert p, #successalert p {
    font-size: 18px;
    color: #664d03;
    text-transform: capitalize;
    margin-bottom: 0;
}

#successalert p {
    text-align: center;
    padding-top: 10px;
}

#successalert {
    text-align: right;
}

#succ_span {
    line-height: 20%;
}

#alert_uname {
    display: initial;
    font-size: 18px;
    color: #664d03;
    margin-bottom: 0;
}


/*  --- Page Transitions ---    */
.top-layer {
    position: absolute;
    width: 100%;
    height: 100%;
    top: -100%;
    left: 0;
    bottom: auto;
    right: auto;
    background: #6c567b;
    transition: all 1.5s cubic-bezier(0.6, 0.05, 0.4, 1);
}

.top-layer.active {
    top: 100%;
}

.top-layer--2 {
    background: #393e46;
    transition-delay: 0.8s;
}

.top-layer--3 {
    background: #6c5b7b;
    transition-delay: 0.6s;
}

.top-layer--4 {
    background: #c06c84;
    transition-delay: 0.4s;
}

.top-layer--5 {
    background: #f67280;
    transition-delay: 0.2s;
}

.bottom-layer {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 100%;
    left: 0;
    bottom: auto;
    right: auto;
    background: #48466d;
    transition: all 0.7s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.bottom-layer.active {
    top: -100%;
}

.bottom-layer--2 {
    background: #ecf3a3;
    transition-delay: 0.12s;
}

.bottom-layer--3 {
    background: #95a792;
    transition-delay: 0.4s;
}

/*  Main Timer Styles   */

.timer_outer {
    width: 80%;
    top: 90px;
    left: 11vw;
    margin: auto;
    position: absolute;
    z-index: 1;
    background: cornsilk;
    background: -webkit-linear-gradient(to bottom, #FFF8DCFF, #E8D58AFF); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #FFF8DCFF, #E8D58AFF); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    border-radius: 20px;

}

.timer_main {
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: 3px solid dodgerblue;
    border-radius: 20px;
}

.create_new {
    height: 17vh;
    width: 13vw;
    cursor: pointer;
    font-family: Indie Flower, cursive;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    background: #16A085; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #F4D03F, #16A085); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #F4D03F, #16A085); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-size: 400% 400%;
    animation: gradient 3s linear infinite;
    border-radius: 18px;
}

.plus_img {
    align-self: flex-start;
}

.logs_outer {
    margin-right: 5px;
    margin-bottom: 30px;
    margin-top: 30px;
    height: 40vh;
    justify-content: center;
    align-content: flex-start;
    overflow-y: scroll;
    overflow-x: hidden;
}

.empty-icon {
    width: 200px;
}

.logs_head {
    align-self: flex-end;
    position: sticky;
    text-align: center;
    writing-mode: vertical-rl;
    top: 0;
    justify-self: flex-end;
    padding: 0;
}

.logs_head h2 {
    font-family: Indie Flower, cursive;
    margin: 0;
}

.running_task {
    padding-left: 20px;
    align-self: flex-start;
    border: 2px solid midnightblue;
    border-radius: 18px;
    background: lavenderblush;
    background: linear-gradient(40deg, #FFF0F5FF, #cfcff3);
    animation: gradient 3.5s alternate infinite;
    width: 60%;
    box-shadow: 11px 10px 24px rgb(210, 208, 208), 0 2px 20px white;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.runt_name {
    margin-top: 15px;
}

.runt_name h3 {
    text-transform: initial;
    margin: 0;
    font-family: Merienda, cursive;
    color: #392338;
}

.runt_desc {
    border-top: 1px dotted black;
    margin-top: 15px;
}

.runt_desc p {
    font-weight: bold;
    margin-bottom: 10px;
}

.runt_icon {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: flex-start;
    align-items: center;
}

.runt_time {
    width: 16vw;
    text-align: center;
    font-family: Andada Pro, serif;
    border-top: 1px dashed black;

}

.runt_time h4 {
    font-size: 30px;
}

.runt_time h4:hover {
    font-style: italic;
}

.play {
    zoom: 35%;
    display: block;
    width: 0;
    height: 0;
    border-top: 50px solid transparent;
    border-bottom: 50px solid transparent;
    border-left: 60px solid #2c3e50;
    margin: 70px 10px 70px 10px;
    position: relative;
    z-index: 1;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    left: 10px;
}

.play:before {
    content: "";
    position: absolute;
    top: -75px;
    left: -115px;
    bottom: -75px;
    right: -35px;
    border-radius: 50%;
    border: 10px solid #2c3e50;
    z-index: 2;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
}

.play:after {
    content: "";
    opacity: 0;
    transition: opacity 0.6s;
    -webkit-transition: opacity 0.6s;
    -moz-transition: opacity 0.6s;
}

.play:hover:before, .play:focus:before {
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
}

.play.active {
    border-color: transparent;
}

.play.active:after {
    content: "";
    opacity: 1;
    width: 66px;
    height: 80px;
    background: #2c3e50;
    position: absolute;
    right: 5px;
    top: -40px;
    border-left: 20px solid #2c3e50;
    box-shadow: inset 30px 0 0 0 #dad7f4;
}

.stop-btn {
    cursor: pointer;
    margin-bottom: 15px;
    margin-top: 15px;
    width: 50px;
}

.my_timelog {
    padding-left: 20px;
    align-self: center;
    border: 2px solid midnightblue;
    border-radius: 18px;
    width: 90%;
    justify-content: space-between;
    align-items: center;
    box-shadow: 4px 4px 2px 0px rgb(255 255 255), 3px 3px 20px white;
    display: flex;
    background: #1D2B64; /* fallback for old browsers */
    background: -webkit-linear-gradient(45deg, #F8CDDA, rgba(29, 43, 100, 0.76)); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(45deg, #F8CDDA, rgba(29, 43, 100, 0.76)); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}


.tlog_name {

    margin-top: 0;
}

.tlog_name h4 {
    text-transform: initial;
    margin: 0;
    font-family: Merienda, cursive;
    color: #5b2258;
}

.tlog_desc {
    margin-top: 0;
    border-left: 1px dashed black;
    height: 44px;
    border-radius: 15px;
}

.tlog_desc p {
    font-weight: bold;
    margin: 0;
    color: aliceblue;
}

.tlog_time {
    text-align: center;
    font-family: Andada Pro, serif;
    border-left: 1px dashed black;
    border-radius: 15px;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-around;
    align-content: center;
}

.tlog_time h4 {
    color: aliceblue;
    font-size: 30px;
    margin: 0;
}

.tlog_icons {
    text-align: center;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
}

.tlog_edit, .tlog_play {
    cursor: pointer;
}

.tlog_edit:hover, .tlog_play:hover {
    zoom: 90%;
}

.modal-header {
    font-family: Merienda, cursive;
}

.modal-body {
    font-family: Festive, cursive;
    display: flex;
    justify-content: center;
    font-size: x-large;
}

#create_task_form {
    height: 60vh;
    position: relative;
    background: linear-gradient(220deg, #e5f87b, #f8f9facf);
}

.form-floating input {
    font-family: 'Montserrat', serif;
    font-weight: bold;
    font-size: x-large;
}

.form-floating textarea {
    font-family: 'Montserrat', serif;
    padding-top: 30px;
}

.create-btn {
    margin-top: 12vh;
}

.create-btn button {
    background-image: linear-gradient(to right, #FF8008 0%, #FFC837 51%, #FF8008 100%);
    text-align: center;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
    box-shadow: 0 0 20px #eee;
    border-radius: 20px;
    border: 0;
}

.create-btn button:hover {
    background-position: right center; /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
}

.edit-btn button {
    background-image: linear-gradient(to right, #1FA2FF 0%, #12D8FA 51%, #1FA2FF 100%);
    text-align: center;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
    box-shadow: 0 0 20px #eee;
    border-radius: 20px;
    border: 0;
}

.edit-btn button:hover {
    background-position: right center; /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
}


#del-btn {
    background-image: linear-gradient(to right, #FF4E50 0%, #F9D423 51%, #FF4E50 100%);
    text-align: center;
    transition: 0.5s;
    background-size: 200% auto;
    box-shadow: 0 0 20px #eee;
    border-radius: 20px;
    border: 0;
}

#del-btn:hover {
    background-position: right center; /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
}


#createTaskName, #createTaskDesc {
    background: ghostwhite;
}

#edit_task_form {
    height: 60vh;
    position: relative;
    background: beige;
    background: linear-gradient(31deg, #0dcaf075, #f9fafbd9);
}

#editTaskTime {
    font-size: 20px;
}

.form-floating > .form-control:focus, .form-floating > .form-control:not(:placeholder-shown) {
    padding-top: 35px;
}

.modal-content {
    background: aliceblue;
}

div[id='editModal'] div[class='modal-content'] {
    background-image: linear-gradient(to top, #fbc2eb 0%, #a6c1ee 100%);
}

div[id='exampleModal'] div[class='modal-content'] {
    background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
}